.biography {
  padding: 30px;
}

.singleline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.title {
  flex: 1;
  text-align: left;
  color: #2F5D62;
}

.titlebuttons {
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.buttons {
  margin: 10px;
}


.returnbutton {
  padding: 6px 35px;
  border-radius: 6px;
  border: none;
  background-color: #EB455F;
  color: #ffffff;
}

.returnbutton:hover {
  background-color: #D91E3D;
}

.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* max-width: 1200px; */
  background-color: #ffffff;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #000;
  border: #EEEEEE solid 1px;
  border-radius: 20px;
}


.info {
  border-collapse: collapse;
  width: 100%;
}

.label,
.value {
  padding: 8px;
  text-align: left;
}

.label {
  width: 30%;
  font-weight: bold;
}

.value {
  width: 70%;
}



.comment_title {
  margin: 10px;
}

.name {
  font-weight: bold;
  margin: 0;
  margin-right: 10px;
  color: rgb(97, 97, 118);
  padding: 0;
}

.date {
  color: rgb(136, 136, 157);
}

.commentbox {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  background-color: rgb(244, 244, 250);
  padding: 20px;
  border: #EEEEEE solid 1px;
}

.commentinput {
  display: block;
  border: none;
}

.commentbutton {
  display: inline-block;
  margin-top: 10px;
  background-color: #5E8B7E;
  color: #ffffff;
  padding: 6px 35px;
  margin-right: 10px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  color: white;
  /* Set the color to white */
  font-weight: bold;
  /* Make the text bold */
}

.closeIcon {
  font-size: 40px;
  line-height: 1;
}


.notification {
  position: fixed;
  top: 100px;
  right: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-height: 80vh;
  overflow-y: auto;
}


.header {
  display: flex;
  justify-content: space-between;
}

.tab {
  flex: 1;
  padding: 15px 0;
  border: none;
  border-bottom: 1px solid transparent;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.tab:first-child {
  border-top-left-radius: 10px;
}

.tab:last-child {
  border-top-right-radius: 10px;
}

.tab.active {
  background-color: #5E8B7E;
  color: #ffffff;
}

.comment {
  display: flex;
  justify-content: space-between;
  border-top: #000 solid 1px;
  padding: 10px;
}

.comment p {
  margin: 10px 0;
  font-size: 12px;
}