#ac-chart-container {
  height: 100vh;
}

.anychart-credits {
  display: none;
}

.sunburstChartContainer {
  width: 100vw;
  height: 100vh;
}

/* In your CSS file */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.popup-modal {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  z-index: 20;
}